{{- define "property-type" -}}
{{- if eq .TrueType "array" -}}

{{- if .Items -}}
[]{{ template "property-type" .Items }}
{{- else -}}
[]interface{}
{{- end -}}

{{- else if .Ref -}}
{{ .Ref | TrimRef }}

{{- else -}}

{{- if eq .TrueType "integer" -}}
int
{{- else if eq .TrueType "boolean" -}}
bool
{{- else if eq .TrueType "float" -}}
float32
{{- else if eq .TrueType "datetime" -}}
string
{{- else if eq .TrueType "dateTime" -}}
string
{{- else if eq .TrueType "object" -}}
map[string]interface{}
{{- else if eq .TrueType "" -}}
interface{}
{{- else -}}
{{ .TrueType }}
{{- end -}}

{{- end -}}
{{- end -}}